<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-tower"></span></h1>
    <h2>AIK Experience</h2>
    <h3>AIK trae un nuevo ritmo a la industria automotriz mundial a través de su crecimiento siempre vibrante. Como un compás de música que toca tu corazón, AIK se esfuerza por hacer tu vida más fascinante cada día.    </h3>

  </div>

</div>

  <div class="row">
    <div class="panel">
      <p>  
        <a title="AIK Facebook" href="https://es-la.facebook.com/KiaColombia/"><img src="../img/fb.png" widht="300" height="300" alt="AIK Facebook"  /></a>
        <a title="Link redes sociales" href="https://www.kia.com/es/todo-sobre-kia/redes-sociales/"><img src="../img/Kia.png" widht="300" height="300" alt="Link redes sociales" /></a>
      </p>
    </div>
  </div>

<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-tower"></span></h1>
    <h3>AIK Experience te trae la innovacion de la marca.</h3>
    <h3>Nuestra tecnologia futura donde te transmitimos el manejo emotivo</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Sistema R.E.A.D</h3>
      </div>
      <div class="panel-body text-center">
        <h5>Sistema de conduccion adaptable a la emocion en tiempo real, conduccion adaptativa a la emocion</h5>
      </div>
    </div>
  </div>
      <div class="col-md-4">
        <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">V-Touch</h3>
      </div>
      <div class="panel-body text-center">
        <h5>Tecnologia que lee tus ojos y dedos</h5>
      </div>
    </div>
  </div>
      <div class="col-md-4">
        <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">CES 2019</h3>
    </div>
    <div class="panel-body text-center">
      <h5>Gama de nuevas tecnologias desarrollados para la era post-conduccion autonoma en el 2019</h5>
    </div>
    </div>
  </div>
</div>

<div class="container">
<div class="jumbotron text-center">
<h3>En AIK nos dedicamos a garantizar que el conductor disfrute en su tiempo de conduccion</h3>
<h5>Mas informacion en el siguiente enlace</h5>
<a title="AIK Facebook" href="https://www.kia.com/co/discover-kia/innovation/futures-tech.html"><img src="../img/Kia.png" widht="150" height="150" alt="Innovation"  /></a>
</div>
</div>



  </body> 
</html>
